/********** Template CSS **********/
:root {
    --primary: #06A3DA;
    --secondary: #34AD54;
    --light: #EEF9FF;
    --dark: #091E3E;
}

.display-1 {
  font-size: 2.5rem !important;
}
.title_slide{
	
}
/*** Spinner ***/
.logouts{
	width:90px !important;
}
.spinner {
    width: 40px;
    height: 40px;
    background: var(--primary);
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Heading ***/
h1,
h2,
.fw-bold {
    font-weight: 800 !important;
}

h3,
h4,
.fw-semi-bold {
    font-weight: 700 !important;
}

h5,
h6,
.fw-medium {
    font-weight: 600 !important;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn-primary,
.btn-secondary {
    color: #FFFFFF;
    box-shadow: inset 0 0 0 50px transparent;
}

.btn-primary:hover {
    box-shadow: inset 0 0 0 0 var(--primary);
}

.btn-secondary:hover {
    box-shadow: inset 0 0 0 0 var(--secondary);
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 30px;
    height: 30px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.bg-primary-second{
	background-color:#3366cc !important;
}
.chiffre{
	font-size:1rem !important;
}
.btn-primary {
  color: #fff;
  background-color: #e60000 !important;
  border-color: #e60000 !important;
}
/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
    font-family: 'Nunito', sans-serif;
    position: relative;
    margin-left: 25px;
    padding: 15px 0;
    color: #14387f;
    font-size: 15px;
    font-weight: 700;
    outline: none;
    transition: .5s;
	text-transform:uppercase;
}
.ms-auto {
	margin-left:6rem !important;
}
.about-us {
  color:#14387f !important;
}
.py-5 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 20px 0;
    /*color: var(--dark);*/
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--danger);
}
.bg-dark {
  background-color: #3366cc !important;
}
.navbar-dark .navbar-brand h1 {
    color: #FFFFFF;
}

.navbar-dark .navbar-toggler {
    color: var(--primary) !important;
    border-color: var(--primary) !important;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-dark {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link.show,
    .sticky-top.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: var(--dark);
    }

    .navbar-dark .navbar-brand h1 {
        color: var(--primary);
    }
}

@media (min-width: 992px) {
    .navbar-dark {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
		background: #fff;
    }
    
    .sticky-top.navbar-dark {
        position: fixed;
        background: #FFFFFF;
    }

    .navbar-dark .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: #e60000;
        transition: .5s;
    }

    .navbar-dark .navbar-nav .nav-link:hover::before,
    .navbar-dark .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }

    .navbar-dark .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }

    .sticky-top.navbar-dark .navbar-brand h1 {
        color: var(--primary);
    }
}

.slide_img{
	background:rgba(32, 44, 69, 0.75) !important;
}
/*** Carousel ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(9, 30, 62, .2);
    z-index: 1;
}

@media (max-width: 576px) {
    .carousel-caption h5 {
        font-size: 14px;
        font-weight: 500 !important;
    }

    .carousel-caption h1 {
        font-size: 15px !important;
        font-weight: 700 !important;
		margin-bottom: 1.5em;
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}


/*** Section Title ***/
.section-title::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 5px;
    left: 0;
    bottom: 0;
    background: #fc0;
    border-radius: 2px;
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -75px;
}

.section-title.section-title-sm::before {
    width: 90px;
    height: 3px;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 5px;
    bottom: 0px;
    background: #FFFFFF;
    -webkit-animation: section-title-run 5s infinite linear;
    animation: section-title-run 5s infinite linear;
}

.section-title.section-title-sm::after {
    width: 4px;
    height: 3px;
}

.section-title.text-center::after {
    -webkit-animation: section-title-run-center 5s infinite linear;
    animation: section-title-run-center 5s infinite linear;
}

.section-title.section-title-sm::after {
    -webkit-animation: section-title-run-sm 5s infinite linear;
    animation: section-title-run-sm 5s infinite linear;
}

@-webkit-keyframes section-title-run {
    0% {left: 0; } 50% { left : 145px; } 100% { left: 0; }
}

@-webkit-keyframes section-title-run-center {
    0% { left: 50%; margin-left: -75px; } 50% { left : 50%; margin-left: 45px; } 100% { left: 50%; margin-left: -75px; }
}

@-webkit-keyframes section-title-run-sm {
    0% {left: 0; } 50% { left : 85px; } 100% { left: 0; }
}


/*** Service ***/


.service-item {
    position: relative;
    height: 80px;
    padding: 0 20px;
    transition: .5s;
	background:#3366cc !important;
	margin-bottom:1.5em;
	margin-top:1em;
}

.service-item .service-icon {
    margin-bottom: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: blue;
    border-radius: 2px;
    transform: rotate(-45deg);
}

.service-item .service-icon i {
    transform: rotate(45deg);
}

.service-item a.btn {
    position: absolute;
    width: 60px;
    bottom: -48px;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
}

.service-item:hover a.btn {
    bottom: -24px;
    opacity: 1;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: #DDDDDD;
    border-radius: 2px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 30px;
    background: var(--primary);
}

.testimonial-carousel .owl-item.center {
    position: relative;
    z-index: 1;
}

.testimonial-carousel .owl-item .testimonial-item {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: #FFFFFF !important;
    box-shadow: 0 0 30px #DDDDDD;
}


/*** Team ***/
.team-item {
    transition: .5s;
}

.team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.team-social a.btn {
    position: relative;
    margin: 0 3px;
    margin-top: 100px;
    opacity: 0;
}

.team-item:hover {
    box-shadow: 0 0 30px #DDDDDD;
}

.team-item:hover .team-social {
    background: rgba(9, 30, 62, .7);
}

.team-item:hover .team-social a.btn:first-child {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0s;
}

.team-item:hover .team-social a.btn:nth-child(2) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .05s;
}

.team-item:hover .team-social a.btn:nth-child(3) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .1s;
}

.team-item:hover .team-social a.btn:nth-child(4) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .15s;
}

.team-item .team-img img,
.blog-item .blog-img img  {
    transition: .5s;
}

.team-item:hover .team-img img,
.blog-item:hover .blog-img img {
    transform: scale(1.15);
}
.btn-blue {
  color: #fff;
  background-color: blue !important;
  border-color: blue !important;
  margin-top: 0 !important;
}
.text-primary {
  color: #e60000 !important;
}
.text-about{
color:#14387f !important;
}

.testimonial_section {
  display: block;
  overflow: hidden;
}
.testimonial_section:after {
  display: block;
  clear: both;
  content: "";
}
.testimonial_section .about_content {
  background-color: #020d26;
  padding-top: 77px;
  padding-right: 210px;
  padding-bottom: 62px;
  position: relative;
}
.testimonial_section .about_content .background_layer {
  background-color: #020d26;
  width: auto;
  margin-left: -200px;
  right: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.testimonial_section .about_content .layer_content {
  position: relative;
  z-index: 9;
  height: 100%;
}
.testimonial_section .about_content .layer_content .section_title {
  margin-bottom: 24px;
  position: relative;
}
.testimonial_section .about_content .layer_content .section_title:after {
  display: block;
  clear: both;
  content: "";
}
.testimonial_section .about_content .layer_content .section_title h5 {
  color: #fff;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #818a8f;
  margin-top: -5px;
  margin-bottom: 6px;
}
.testimonial_section .about_content .layer_content .section_title h2 {
  font-family: "Titillium Web";
  font-weight: 300;
  font-size: 45px;
  line-height: 50px;
  padding-bottom: 51px;
  margin-bottom: 0px;
  color: #fff;
}
.testimonial_section .about_content .layer_content .section_title h2 strong {
  font-weight: 600 !important;
  width: 100%;
  display: block;
}
.testimonial_section .about_content .layer_content .section_title .heading_line {
  position: relative;
}
.testimonial_section .about_content .layer_content .section_title .heading_line span {
  transition: all 0.5s ease-in-out 0s;
  position: relative;
}
.testimonial_section .about_content .layer_content .section_title .heading_line span:after {
  content: "";
  right: auto;
  left: 69px;
  position: absolute;
  bottom: 28px;
  width: 17px;
  margin-left: 0;
  border-bottom-width: 3px;
  border-bottom-color: #cacaca;
  border-bottom-style: solid;
}
.testimonial_section .about_content .layer_content .section_title .heading_line:after {
  content: "";
  left: 1%;
  margin-left: 0;
  position: absolute;
  bottom: 28px;
  width: 59px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #ff5e14;
}
.testimonial_section .about_content .layer_content .section_title p {
  color: #fff;
  margin: 0 0 15px;
}
.testimonial_section .about_content .layer_content a {
  color: #fff;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s;
}
.testimonial_section .about_content .layer_content a i {
  font-size: 18px;
  vertical-align: middle;
}
.testimonial_section .about_content .layer_content a:hover {
  color: #ff5e14;
}
.testimonial_section .testimonial_box {
  position: relative;
}
.testimonial_section .testimonial_box .testimonial_container {
  background-color: #ff5e14;
  margin-left: -170px !important;
  position: relative;
}
.testimonial_section .testimonial_box .testimonial_container .background_layer {
  background-color: beige;
  width: auto;
  margin-right: -200px;
  right: 0;
  background-image: url(../images/map.html);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content {
  position: relative;
  z-index: 9;
  height: 100%;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel {
  display: block;
  position: relative;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials {
  margin: 0;
  padding: 60px 0px 20px 50px;
  position: relative;
  text-align: center;
}
.panel-formation-fond{
padding: 0.8em !important;
background: #3366cc !important;
}
.panel-formation-text{
color: #fff !important;
font-size: 1.2em;
text-align: center;
}
.col-lg-4.wow.slideInUp{
	margin-left:0.5em;
	margin-right:0.5em;
	width: 31%;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.13);
  margin-left: 150px;
  margin-right: 20px;
  margin-top: 150px;
  padding: 10px 40px 10px 40px;
  z-index: 1;
  position: relative;
  background-color: #fff;
  transition: all 0.5s ease-in-out 0s;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content .testimonial_caption {
  margin-bottom: 15px;
  position: relative;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content .testimonial_caption:after {
  content: "";
  width: 30px;
  display: block;
  height: 2px;
  text-align: center;
  left: 46%;
  margin-top: 6px;
  background-color: #ff5e14;
  position: absolute;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content .testimonial_caption h6 {
  padding-top: 0;
  margin-bottom: -5px;
  font-size: 19px;
  font-weight: 600;
  line-height: 24px;
  color: #020d26;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content .testimonial_caption span {
  font-size: 12px;
  color: #9f9f9f;
  margin: 0;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content p {
  padding: 0;
  margin: 0;
  padding-top: 10px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #5d6576;
  font-style: italic;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .images_box .testimonial_img {
  border: none;
  position: absolute;
  top: 0;
  left: 250px;
  top: 10px;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .images_box .testimonial_img img {
  border: 5px solid #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
}
.testimonial_section .testimonial_box .testimonial_container .owl-nav .owl-prev {
  position: absolute;
  top: 165px;
  right: 42px;
  border-radius: 0;
  background: #ff5e14;
  display: block;
  outline: 0;
  width: 34px;
  line-height: 34px;
  height: 34px;
  color: #fff;
  font-size: 23px;
  margin-top: -20px;
  transition: all 0.3s ease-in-out;
}
.testimonial_section .testimonial_box .testimonial_container .owl-nav .owl-prev:hover {
  background: #020d26;
}
.testimonial_section .testimonial_box .testimonial_container .owl-nav .owl-next {
  position: absolute;
  top: 165px;
  right: 5px;
  border-radius: 0;
  display: block;
  background: #ff5e14;
  outline: 0;
  width: 34px;
  text-align: center;
  line-height: 34px;
  height: 34px;
  color: #fff;
  font-size: 23px;
  margin-top: -20px;
  transition: all 0.3s ease-in-out;
}
.testimonial_section .testimonial_box .testimonial_container .owl-nav .owl-next:hover {
  background: #020d26;
}


@media all and (max-width: 991px) {
  .testimonial_section .about_content {
    padding-right: 15px !important;
  }
  .testimonial_section .about_content .background_layer {
    width: 200% !important;
  }
  .testimonial_section .testimonial_box {
    margin-top: 0 !important;
  }
  .testimonial_section .testimonial_box .background_layer {
    width: 200% !important;
    margin-left: -200px;
  }
  .testimonial_section .testimonial_box .about_content {
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin-top: 28% !important;
  }
  .testimonial_section .testimonial_box .testimonial_container {
    margin-left: -15px !important;
  }
  .testimonial_section .testimonial_box .testimonial_container .testimonials {
    margin: 0px 0 20px 0;
  }
  .testimonial_section .testimonial_box .testimonial_container .testimonials .testimonial_content {
    margin-left: -36px !important;
  }
  .testimonial_section .testimonial_box .testimonial_container .testimonials .images_box {
    display: none;
  }
}


/*** Miscellaneous ***/
@media (min-width: 991.98px) {
    .facts {
        position: relative;
        margin-top: -65px;
        z-index: 1;
    }
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.bg-header {
    background: linear-gradient(rgba(9, 30, 62, .7), rgba(9, 30, 62, .7)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.link-animated a {
    transition: .5s;
}
.bg-bleu-fonce{
	background:#081a35 !important;
}
.link-animated a:hover {
    padding-left: 10px;
}
.about-us-red{
	color:red !important;
}
.blog-item{
	height:500px !important;
}
.img-bloc{
	height:200px !important;
	width:350px !important;
}
.justify-content-between {
  justify-content: space-between !important;
  color: #14387f !important;
}
.formation-profil{
	background:blue;
	padding:0.5rem !important;
	color:white !important;
}
.small-text{
	font-size:14px !important;
}

.form-control {
  border: 1px solid #ced4da !important;
  border-radius: 2px;
}
span.title {
  background: rgba(0, 0, 0, 0.58);
  color: #fff;
  padding: 10px 15px;
  font-weight: 600;
  font-size: 18px;
  bottom: 0px;
  left: 0px;
  border-radius: var(--border-radius-full);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  right: 0;
  transition: 0.3s ease-in-out;
  margin-top:-20px !important;
}
.radius-image-full {
  margin-bottom: -2.2rem;
}
.titre-galerie{
    background: blue !important;
    border: 1px solid blue;
    color: white !important;
    padding: 3px;
}
small, .small {
  font-size: .820em !important;
}
.page-item.active .page-link {
  background-color: blue !important;
  border-color: blue !important;
}
.navbar-brand {
  margin-right: 0rem !important;
  margin-top:0.5em !important;
}
.carousel-item {
  top: 5em !important;
}
.carousel-inner {
  height: 520px;
}
@media (min-width: 767.98px) {
    .footer-about {
        margin-bottom: -75px;
    }

}
@media (max-width: 767.98px) {
	.carousel-item {
  top: 0em !important;
 }
 .carousel-inner {
  height: 190px;
}
.w-100 {
  height: 190px !important;
}
.logouts{
	width:60px !important;
}
.about-us{
	font-size:1.5em !important;
	margin-top: 0.5em;
}
.position-relative.pb-3.mb-5{
	margin-bottom: 3rem !important;
}
.row > * {
  margin-top: 0 !important;
}
.col-lg-4.wow.slideInUp {
  width: 95%;
}
.blog-item {
  height: 400px !important;
}
.navbar-brand {
  padding-top: 2rem;
}
 .wow{

	 text-align: center;
 }
 .row .g-0{
	margin-top:2em;
	text-align:center;
 }
 .wow.zoomIn{
	 text-align:center !important;
 }
 .testimonial_section .testimonial_box .testimonial_container {
  margin-left: 25px !important;
}
 
 .btn {

  padding: .075rem .15rem;
  
}
.testimonial_section .testimonial_box .testimonial_container .testimonials .images_box {
  display: block !important;
}

.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .images_box .testimonial_img {
  border: none;
  position: absolute;
  top: 0;
  left: 0px !important;
  top: 10px;
}

}
.mb-3.text-white{
	font-size:15px !important;
}
.h-100 {
  height: 62% !important;
}
.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}
@media (min-width: 992px) {
  .modal-lg, .modal-xl {
    max-width: 500px;
  }